<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planet_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,487}</string>
                <key>spriteSourceSize</key>
                <string>{500,487}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,487}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{500,0},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,460}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{950,0},{460,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,480}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1410,0},{480,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{0,487},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,455}</string>
                <key>spriteSourceSize</key>
                <string>{455,455}</string>
                <key>textureRect</key>
                <string>{{500,487},{455,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{955,487},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1405,487},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{0,987},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,475}</string>
                <key>spriteSourceSize</key>
                <string>{475,475}</string>
                <key>textureRect</key>
                <string>{{600,987},{475,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>space_ship.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,699}</string>
                <key>spriteSourceSize</key>
                <string>{502,699}</string>
                <key>textureRect</key>
                <string>{{1075,987},{502,699}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{1905,1686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bfcc845d0cafc3978205578874adb2f:3d0cdee105ae93b97c78a44d5af809ac:15058cce2ad93a426e9374343a733a78$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
